<a href="https://colab.research.google.com/github/SANDEEP1101/Transport_demand_prediction/blob/main/Copy_of_Demand_Prediction_for_Public_Transport_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Traffic Jam: Predicting People's Movement into Nairobi </u></b>

## <b> Problem Description </b>

### This challenge asks you to build a model that predicts the number of seats that Mobiticket can expect to sell for each ride, i.e. for a specific route on a specific date and time. There are 14 routes in this dataset. All of the routes end in Nairobi and originate in towns to the North-West of Nairobi towards Lake Victoria.


### The towns from which these routes originate are:

* Awendo
* Homa Bay
* Kehancha
* Kendu Bay
* Keroka
* Keumbu
* Kijauri
* Kisii
* Mbita
* Migori
* Ndhiwa
* Nyachenge
* Oyugis
* Rodi
* Rongo
* Sirare
* Sori

### The routes from these 14 origins to the first stop in the outskirts of Nairobi takes approximately 8 to 9 hours from time of departure. From the first stop in the outskirts of Nairobi into the main bus terminal, where most passengers get off, in Central Business District, takes another 2 to 3 hours depending on traffic.

### The three stops that all these routes make in Nairobi (in order) are:

1. Kawangware: the first stop in the outskirts of Nairobi
2. Westlands
3. Afya Centre: the main bus terminal where most passengers disembark

### All of these points are mapped [here](https://www.google.com/maps/d/viewer?mid=1Ef2pFdP8keVHHid8bwju2raoRvjOGagN&ll=-0.8281897101491997%2C35.51706279999996&z=8).

### Passengers of these bus (or shuttle) rides are affected by Nairobi traffic not only during their ride into the city, but from there they must continue their journey to their final destination in Nairobi wherever that may be. Traffic can act as a deterrent for those who have the option to avoid buses that arrive in Nairobi during peak traffic hours. On the other hand, traffic may be an indication for people’s movement patterns, reflecting business hours, cultural events, political events, and holidays.

## <b> Data Description </b>

### <b>Nairobi Transport Data.csv (zipped)</b> is the dataset of tickets purchased from Mobiticket for the 14 routes from “up country” into Nairobi between 17 October 2017 and 20 April 2018. This dataset includes the variables: ride_id, seat_number, payment_method, payment_receipt, travel_date, travel_time, travel_from, travel_to, car_type, max_capacity.


### Uber Movement traffic data can be accessed [here](https://movement.uber.com). Data is available for Nairobi through June 2018. Uber Movement provided historic hourly travel time between any two points in Nairobi. Any tables that are extracted from the Uber Movement platform can be used in your model.

### Variables description:

* #### ride_id: unique ID of a vehicle on a specific route on a specific day and time.
* #### seat_number: seat assigned to ticket
* #### payment_method: method used by customer to purchase ticket from Mobiticket (cash or Mpesa)
* #### payment_receipt: unique id number for ticket purchased from Mobiticket
* #### travel_date: date of ride departure. (MM/DD/YYYY)
* #### travel_time: scheduled departure time of ride. Rides generally depart on time. (hh:mm)
* #### travel_from: town from which ride originated
* #### travel_to: destination of ride. All rides are to Nairobi.
* #### car_type: vehicle type (shuttle or bus)
* #### max_capacity: number of seats on the vehicle

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy.stats import zscore

from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

In [ ]:
3xfrom google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
transport=pd.read_csv('/content/drive/MyDrive/transport data/Nairobi Transport Data.zip')

In [ ]:
transport.head()

   ride_id seat_number payment_method  ... travel_to car_type max_capacity
0     1442         15A          Mpesa  ...   Nairobi      Bus           49
1     5437         14A          Mpesa  ...   Nairobi      Bus           49
2     5710          8B          Mpesa  ...   Nairobi      Bus           49
3     5777         19A          Mpesa  ...   Nairobi      Bus           49
4     5778         11A          Mpesa  ...   Nairobi      Bus           49

[5 rows x 10 columns]

In [ ]:
transport.tail()

       ride_id seat_number payment_method  ... travel_to car_type max_capacity
51640    13826          9B          Mpesa  ...   Nairobi      Bus           49
51641    13809         18A          Mpesa  ...   Nairobi      Bus           49
51642    13809         17A          Mpesa  ...   Nairobi      Bus           49
51643    13796         16B          Mpesa  ...   Nairobi      Bus           49
51644    14304           7          Mpesa  ...   Nairobi      Bus           49

[5 rows x 10 columns]

In [ ]:
transport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51645 entries, 0 to 51644
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ride_id          51645 non-null  int64
 1   seat_number      51645 non-null  object
 2   payment_method   51645 non-null  object
 3   payment_receipt  51645 non-null  object
 4   travel_date      51645 non-null  object
 5   travel_time      51645 non-null  object
 6   travel_from      51645 non-null  object
 7   travel_to        51645 non-null  object
 8   car_type         51645 non-null  object
 9   max_capacity     51645 non-null  int64
dtypes: int64(2), object(8)
memory usage: 3.9+ MB

In [ ]:
transport.describe(include='all')

             ride_id seat_number  ... car_type  max_capacity
count   51645.000000       51645  ...    51645  51645.000000
unique           NaN          61  ...        2           NaN
top              NaN           1  ...      Bus           NaN
freq             NaN        2065  ...    31985           NaN
mean    10188.645793         NaN  ...      NaN     34.534321
std      2211.295708         NaN  ...      NaN     18.451193
min      1442.000000         NaN  ...      NaN     11.000000
25%      8287.000000         NaN  ...      NaN     11.000000
50%     10353.000000         NaN  ...      NaN     49.000000
75%     12029.000000         NaN  ...      NaN     49.000000
max     20117.000000         NaN  ...      NaN     49.000000

[11 rows x 10 columns]

In [ ]:
transport.describe(include='object')

       seat_number payment_method  ... travel_to car_type
count        51645          51645  ...     51645    51645
unique          61              2  ...         1        2
top              1          Mpesa  ...   Nairobi      Bus
freq          2065          51532  ...     51645    31985

[4 rows x 8 columns]

In [ ]:
transport.shape

(51645, 10)

In [ ]:
transport.isnull().sum()

ride_id            0
seat_number        0
payment_method     0
payment_receipt    0
travel_date        0
travel_time        0
travel_from        0
travel_to          0
car_type           0
max_capacity       0
dtype: int64

In [ ]:
len(transport['ride_id'].unique())

6249

Finding Our Target Variable Since we are not given the target variable so we need to find target variable first.

There might be many ways of finding the target variable but here I am using one way that is I will find the count of each ride_id and that will be the number_of_ticket as our target variable

In [ ]:
transport['seats_occupied']=transport.groupby(['car_type','travel_date','travel_time','travel_from'])['travel_time'].transform('count')
id.head()

AttributeError: ignored

Now we found our target variable so let us delete the duplicate values from ride_id

In [ ]:
transport=transport.drop_duplicates("ride_id")

In [ ]:
transport=transport.merge(id,how='left',on='ride_id')

In [ ]:
cartype=transport['car_type'].value_counts()

In [ ]:
sns.countplot(y=transport['car_type'], hue=transport['max_capacity'])

In [ ]:
plt.subplots(figsize=(10,5))
transport.payment_method.value_counts().plot(kind='bar')
plt.title('Show the number of payment method')

In [ ]:
plt.subplots(figsize=(10,10))
transport.travel_from.value_counts().plot(kind='bar')
plt.title('travel')

In [ ]:
transport["date"]=transport["travel_date"]+ " , "+transport["travel_time"]

In [ ]:
def  time_features(df): 

  '''This function takes dataframe as an argument and extracts the
  different features from the date variable of the dataset and finaly returns the updated 
  dataset'''
  
  df["date"]=pd.to_datetime(df["date"])
  df["day_of_week"]=df["date"].dt.dayofweek
  df["day_of_year"]=df["date"].dt.dayofyear
  df["day_of_month"]=df["date"].dt.day
  df["year_woy"]=df["date"].dt.year.astype(str)+df["date"].dt.weekofyear.astype(str)
  df["hour"]=df["date"].dt.hour
  df["minute"]=df["date"].dt.minute

  df["is_weekend"]=df["day_of_week"].apply( lambda x : 1 if x  in [5,6] else 0 )  # A lambda function that find if a day is weekend
  df["year"]=df["date"].dt.year
  df["quarter"]=df["date"].dt.quarter
  df["month"]=df["date"].dt.month
  return df

In [ ]:
transport=time_features(transport)

In [ ]:
transport.head()

In [ ]:
transport=pd.get_dummies(transport,columns=['car_type',	'payment_method','travel_from'])

In [ ]:
transport.head()

In [ ]:
correlarion=transport.corr()

In [ ]:
plt.figure(figsize=(20,15))
sns.heatmap(abs(correlarion),cmap='coolwarm',annot=True)

In [ ]:
transport.shape

In [ ]:
transport.info()

In [ ]:
unused_columns=['ride_id','seat_number','payment_receipt','date','year_woy','travel_date','travel_time','travel_to','no_of_tickets','max_capacity']

In [ ]:
dependent=transport['no_of_tickets']

In [ ]:
independent=transport.drop(unused_columns,axis=1).columns

In [ ]:
independent

In [ ]:
len(independent)

In [ ]:
X = transport[independent].apply(zscore)

In [ ]:
y = np.log10(transport['no_of_tickets'])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X,y , test_size = 0.2, random_state = 0) 
print(X_train.shape)
print(X_test.shape)

In [ ]:
(y_train.shape)

In [ ]:
(y_test.shape)

In [ ]:
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
reg.score(X_train, y_train)

In [ ]:
reg.coef_

In [ ]:
len(reg.coef_)

In [ ]:
reg.intercept_

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
y_pred

In [ ]:
MSE  = mean_squared_error(10**(y_test), 10**(y_pred))
print("MSE :" , MSE)

RMSE = np.sqrt(MSE)
print("RMSE :" ,RMSE)

In [ ]:
r2 = r2_score(10**(y_test), 10**(y_pred))
print("R2 :" ,r2)
print("Adjusted R2 : ",1-(1-r2_score(10**(y_test), 10**(y_pred)))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)))

implementing lasso and ridge

In [ ]:
from sklearn.linear_model import Lasso
lasso  = Lasso(alpha=0.0001 , max_iter= 3000)

lasso.fit(X_train, y_train)

In [ ]:
lasso.score(X_train, y_train)

In [ ]:
lasso.coef_

In [ ]:
from sklearn.model_selection import GridSearchCV
lasso = Lasso()
parameters = {'alpha': [1e-15,1e-13,1e-10,1e-8,1e-5,1e-4,1e-3,1e-2,1e-1,1,5,10,20,30,40,45,50,55,60,100,0.0014]}
lasso_regressor = GridSearchCV(lasso, parameters, scoring='neg_mean_squared_error', cv=5)
lasso_regressor.fit(X_train, y_train)

In [ ]:
print("The best fit alpha value is found out to be :" ,lasso_regressor.best_params_)
print("\nUsing ",lasso_regressor.best_params_, " the negative mean squared error is: ", lasso_regressor.best_score_)

In [ ]:
y_pred_lasso = lasso_regressor.predict(X_test)

In [ ]:
MSE  = mean_squared_error(10**(y_test), 10**(y_pred_lasso))
print("MSE :" , MSE)

RMSE = np.sqrt(MSE)
print("RMSE :" ,RMSE)

r2 = r2_score(10**(y_test), 10**(y_pred_lasso))
print("R2 :" ,r2)
print("Adjusted R2 : ",1-(1-r2_score(10**(y_test), 10**(y_pred_lasso)))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)))

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 32, random_state = 0,max_depth=15)
regressor.fit(X_train,y_train)
preds = regressor.predict(X_train)
r2_score(y_train,preds)

In [ ]:
r2_score(y_test,regressor.predict(X_test))